


{%extends "layout.html"%}
{%block content%}

<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Enter Two Birth Charts</legend>
      <p>Enter as many or as few planets as you want.</p>

      <div class="form-group">
        {{ form.sun1.label }}<br>
        {{ form.sun1 }}
        {{ form.sun2 }}
      </div>

      <div class="form-group">
        {{ form.moon1.label }}<br>
        {{ form.moon1 }}
        {{ form.moon2 }}
      </div>

      <div class="form-group">
        {{ form.rising1.label }}<br>
        {{ form.rising1 }}
        {{ form.rising2 }}
      </div>

      <div class="form-group">
        {{ form.mercury1.label }}<br>
        {{ form.mercury1 }}
        {{ form.mercury2 }}
      </div>

      <div class="form-group">
        {{ form.venus1.label }}<br>
        {{ form.venus1 }}
        {{ form.venus2 }}
      </div>

      <div class="form-group">
        {{ form.mars1.label }}<br>
        {{ form.mars1 }}
        {{ form.mars2 }}
      </div>

      <div class="form-group">
        {{ form.jupiter1.label }}<br>
        {{ form.jupiter1 }}
        {{ form.jupiter2 }}
      </div>

      <div class="form-group">
        {{ form.saturn1.label }}<br>
        {{ form.saturn1 }}
        {{ form.saturn2 }}
      </div>

      <div class="form-group">
        {{ form.node1.label }}<br>
        {{ form.node1 }}
        {{ form.node2 }}
      </div>

      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>

  </form>
</div>

{%endblock content%}

