

{%extends "layout.html"%}
{%block content%}

<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend style="color:white" class="border-bottom mb-4"><b>Enter Your Birthday</b></legend>

      <div class="form-group">
        {{ form.bday.label(class="datepicker") }}
        {% if form.bday.errors %}
          {{ form.bday(class="form-control form-control-lg is-invalid") }}
          <div class ="invalid-feedback">
            {% for error in form.bday.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.bday(class="datepicker form-control-lg") }}
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>

  </form>
</div>

{%endblock content%}


